.text-box {
    width: 6rem;
}

.text-box-otherdata{
    width: 4rem;
}

.user-card {
    margin: 25px;
    padding: 20px;
    width: 16rem;
    /* width: 70%; */
}

.user-card-other-data {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid green;
    border-radius: 1rem;
    width: 10rem;
}

.todos-and-posts {
    /* position: fixed;
    top: 0;
    right: 0; */
    position: relative;
    width: 30rem;
    /* width: 14rem; */
    /* width: 40%; */
}

.button {
    background-color: #4CAF50; /* Green */
    border: 0.1px solid white;
    border-radius: 6px;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }

@media (min-width: 52rem) and (min-height: 31rem)  {
    .todos-and-posts {
        position: fixed;
        top: 0;
        right: 0;
        width: 30rem;
    } 
}

 