body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Courier New", Courier, nonospace;
  background: linear-gradient(89deg, #00cc66 0%, #33ccff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  border: 7px solid #06dee1;
  box-shadow: inset 0 0 2.5px 2px rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
  /* background: linear-gradient(45deg, #06dee1, #79ff6c); */
  background: #00cc66;
  border-radius: 10px;
}
